* {
    text-align: center;
    border-collapse: collapse;
    margin: auto auto;
    padding: 0;
    font-family: Century Gothic,Arial,sans-serif;
}
html {
    background-color: black;
}

header{
    background-color: #333;
}
header img{
    width: 3rem;
}
header #tabla2 {
    background-color: rgb(74, 74, 74)
}

header #tabla2 th{
    border: 3px solid #444;
}

header #caballero{
    background-color: #333;
    width: 3rem;
    height: 4rem;
}
header #sol{
    background-color: #333;
    width: 2rem;
    height: 2rem;
}


main{
    background-color: #ff8675;
}

main *{
  
    background-color: #ff8675;
}
main #encabezado2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main #sol {
    width: 2rem;
    height: 2rem;
}
main #sección1 #imagen1 {
    width: 50%;
    display: flex;
}
/**Celular**/
@media (max-width: 767px) {
    * {
        font-size: 1.25rem;
    }
    h1 {
        font-size: 1.40rem;
    }
    h2 {
        font-size: 1.30rem;
    }
    main #sección2 img {
        width: 6rem;
        height: 5rem;
        display: flex;
    }
    #flecha {
        width: 1rem;
        height: 2rem;
        margin-top: 4px;
    }
}
/**Tablet**/
@media (min-width: 768px) and (max-width: 990px) {
    main #sección2 img {
        width: 9rem;
        height: 7rem;
        display: flex;
    }
}
/**PC**/
@media (min-width: 991px) {
    main #sección2 img {
        width: 9rem;
        height: 7rem;
        display: flex;
    }
}

main #sección2 #tabla3, #sección2 tr, #sección2 th, #sección2 td {
    border: 0.1rem solid gray;
    border-radius: 0.1rem;
}
footer {
    background-color: #ed7c6d;
}

footer *{
    background-color: #ed7c6d;
}

footer a {
    color: rgb(78, 78, 248);
}
