* {
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
    font-family: Century, Arial, sans-serif;
}

html {
    padding-top: 111.2px;
}




/**header**/
.header, .header *{
    background-color: #333;   
}
.header{
    width: 100%;
    position: fixed;
    margin-top: -111.2px;
}


/**Primera sección**/
.header__section{
    display: block;
    padding: 5px;
}
.header__section #caballero{
    display: inline;
    width: 3rem;
    height: 4rem;
}
.header__section #sol{
    display: inline;
    width: 2rem;
    height: 2rem;
}


/**Segunda nav**/
.header__nav__link:hover {
    background-color: rgb(100,100,100);
}
.header__nav::-webkit-scrollbar {
    height: 10px;
    border-radius: 5px;
    background-color: orange;
}
.header__nav::-webkit-scrollbar-thumb {
    background-color:  rgb(215, 125, 0);
    border-radius: 5px;
}
/**Celular**/
@media (max-width: 767px) {
    .header__nav{
        display: flex;
        overflow-x: scroll;
        justify-content: flex-start;
        padding-bottom: 10px;
    }
    .header__nav__link{
        position: relative;
        display: inline;
        min-width: 120px;
        background-color: rgb(74, 74, 74);
        color: orange; 
        border: 3px solid #444;
        min-width: 20%;
        margin: 0 2%;
    }
    .header{
        margin-top: -120.8px;
    }
    html {
        padding-top: 120.8px;
    }

}
/**Tablet**/
@media (min-width: 768px) and (max-width: 990px) {
    .header__nav{
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 10px;
    }
    .header__nav__link{
        position: relative;
        display: inline;
        min-width: 120px;
        background-color: rgb(74, 74, 74);
        color: orange;    
        border: 3px solid #444;
        min-width: 15%;
    }
}
/**PC**/
@media (min-width: 991px) {
    .header__nav{
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 10px;
    }
    .header__nav__link{
        position: relative;
        display: inline;
        min-width: 120px;
        background-color: rgb(74, 74, 74);
        color: rgb(255, 165, 0);      
        border: 3px solid #444;
        min-width: 15%;
    }
}




/**main**/
main, main *{
    background-color: rgb(51, 47, 39);
}


/**Primera sección**/
.main__header, .main__header *{
    background-color: rgb(153, 121, 61);
}
.main__header__h1 {
    color:  rgb(255, 165, 0);

}


/**Segunda sección**/
.main__section {
    background-color: rgb(51, 47, 39);
}
.main__section__img {
    width: 100%;
    display: flex;
}
.main__section__p {
    width: 95%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(102, 88, 61);
    color: rgb(204, 147, 41);
}


/**Tercera sección**/
.content__table *{
    background-color: rgb(153, 121, 61); 
    color: rgb(255, 165, 0);   
}
.content__table{
    width: 95%;
}
.content__table th {
    border: 2px solid gray;
}
.content__table__img {
    display: flex;
    width: 3rem;
    height: 1.5rem;
}


/**Cuarta sección**/
.content__animals-picture {
    padding-top: 8px;
    padding-bottom: 1rem;
}
.content__animals-picture th, .content__animals-picture td {
    border: 0.1rem solid gray;
    border-radius: 0.1rem;
}
.content__animals-picture img {
    width: 9rem;
    height: 7rem;
    display: flex;
}
.content__animals-picture p{
    background-color: rgb(102, 88, 61);
    color: rgb(204, 147, 41);
}




/**footer**/
.footer *{
    background-color: rgb(153, 121, 61);
    color: rgb(204, 147, 41);
}
.footer {
    background-color: rgb(153, 121, 61);
    padding-top: 1rem;
    display: inline-block;
    width: 100%;
    padding-bottom: 1rem;
}


/**Primera sección**/
.footer__nav__p {
    display: inline;
}
.footer__nav__a {
    color: rgb(255, 165, 0);
}




/**Celular**/
@media (max-width: 767px) {
    .content__animals-picture img {
        width: 6rem;
        height: 5rem;
        display: flex;
    }
    .texto__escritorio {
        display: none;
    }
}

/**Tablet**/
@media (min-width: 768px) and (max-width: 990px) {
    .texto__celular {
        display: none;
    }
}

/**PC**/
@media (min-width: 991px) {
    .texto__celular {
        display: none;
    }
}
