* {
    text-align: center;
    border-collapse: collapse;
    margin: auto auto;
    padding: 0;
    font-family: Century, Arial, sans-serif;
    color: white;
}

html {
    background-color: #333;
}




/**header**/
header, header *{
    background-color: #333;
}


/**Primera sección**/
.header__section{
    display: block;
    text-align: center;
    width: 100%;
    padding-bottom: 6px;
}
.header__section #caballero{
    background-color: #333;
    display: inline;
    width: 3rem;
    height: 4rem;
}
.header__section #sol{
    background-color: #333;
    display: inline;
    width: 2rem;
    height: 2rem;
}


/**Segunda nav**/
.header__nav{
    display: block;
    text-align: center;
    margin-bottom: 9px;
}
.header__nav__link{
    display: inline;
    width: 20%;
    background-color: rgb(74, 74, 74);
    color: rgb(78, 78, 248);    
    border: 3px solid #444;
}
.header__nav__link:hover {
    background-color: rgb(100,100,100);
}




/**main**/
main, main *{
    background-color: #333;
}


/**Primera sección**/
.main__header, .main__header *{
    background-color: orange;
}


/**Segunda sección**/
.main__section__img {
    width: 100%;
    display: flex;
}
.main__section__p {
    width: 95%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #444;
}


/**Tercera sección**/
.content__table *{
    background-color: #444;    
}
.content__table{
    margin-bottom: 1rem;
}
.content__table th {
    border: 2px solid gray;
}
.content__table__img {
    display: flex;
    width: 3rem;
    height: 1.5rem;
}


/**Cuarta sección**/
.content__animals-picture{
    margin-bottom: 1rem;
}
.content__animals-picture th, .content__animals-picture td {
    border: 0.1rem solid gray;
    border-radius: 0.1rem;
}
.content__animals-picture img {
    width: 9rem;
    height: 7rem;
    display: flex;
}
.content__animals-picture p{
    background-color: #444;
}




/**footer**/
.footer *{
    background-color: orange;
}
.footer {
    background-color: orange;
    padding-top: 1rem;
    display: inline-block;
    width: 100%;
    padding-bottom: 1rem;
}


/**Primera sección**/
.footer__nav__p {
    display: inline;
}
.footer__nav__a {
    border: 3px solid gray;
    text-decoration: none;
}




/**Celular**/
@media (max-width: 767px) {
    .content__animals-picture img {
        width: 6rem;
        height: 5rem;
        display: flex;
    }
    .texto__escritorio {
        display: none;
    }
}

/**Tablet**/
@media (min-width: 768px) and (max-width: 990px) {
    .texto__celular {
        display: none;
    }
}

/**PC**/
@media (min-width: 991px) {
    .texto__celular {
        display: none;
    }
}
